# Modelos y tensores guardados
*.pt
*.pth

# Archivos de Python
__pycache__/
*.py[cod]

# Jupyter notebooks temporales
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/

# Archivos de datos y caché
*.csv
*.npy
*.npz
*.pkl
*.ckpt
.DS_Store

# Archivos ocultos o temporales
*.swp
*.bak
*~

# Carpetas de logs y checkpoints
checkpoints/
lightning_logs/